@model TaskEditViewModel

<h3>Görev Düzenleme Sayfası</h3>

<form method="post" asp-controller="Task" asp-action="Edit">

	<input type="hidden" asp-for="Id" />

	<div>
		<label>Başlık</label>
		<input asp-for="Title" class="form-control" type="text" />
		<span asp-validation-for="Title" class="text-danger mt-2 fw-bold"></span>
	</div>

	<div>
		<label>İçerik</label>
		<textarea asp-for="Content" rows="4" class="form-control"></textarea>
		<span asp-validation-for="Content" class="text-danger mt-2 fw-bold"></span>
	</div>

	<div>
		<label>Görevi Atayan</label>
		<select asp-for="OwnerId" asp-items="@(new SelectList(ViewBag.Owners, "Id", "Name"))" class="form-control">
			<option selected disabled>Seçiniz</option>
		</select>
		<span asp-validation-for="OwnerId" class="text-danger mt-2 fw-bold"></span>
	</div>

	<button type="submit" class="btn btn-success">Kaydet</button>

</form>